{% extends '../layouts/quiz.html' %}
{% load static %}

{% block title %}
Quiz
{% endblock %}

{% block content %}
<!--<div class="processAction">
    <div>
        Soumission de la question.<br />
        Chargement...
    </div>
</div>-->
<div class="media" id="media"></div>

<div class="question">
    <p id="question"></p>
        <ol id="response">
        </ol>
</div>

<div class="askBar">
    <form action="{% url 'polls:index' %}">
        {% csrf_token %}
        <div class="response" id="responseButton">

        </div>

        <input type="submit" value="Valider">
    </form>
</div>
{% endblock %}
