{% extends '../layouts/base.html' %}

{% block content %}
<h2>Nos formules</h2>
<div class="row center-xs">
    <div class="col-6 col-xs-12 col-sm-6">
        <div class="card">
            <p>Formule n°1</p>
            <ul class="text-center">
                <li>Lol</li>
            </ul>
        </div>
    </div>
    <div class="col-6 col-xs-12 col-sm-6">
        Sed sem diam, pellentesque in consectetur at, hendrerit ac orci. Etiam non diam vitae magna commodo rhoncus. Mauris in tortor at nibh posuere hendrerit id non nulla. Vivamus euismod nisl nec rhoncus viverra. Phasellus convallis posuere erat vitae vehicula. Duis pretium, tellus sed aliquet laoreet, augue erat mattis leo, non convallis magna tortor sodales ipsum. Mauris eget orci nisi.
    </div>
    <div class="col-6 col-xs-12 col-sm-6">
        Sed sem diam, pellentesque in consectetur at, hendrerit ac orci. Etiam non diam vitae magna commodo rhoncus. Mauris in tortor at nibh posuere hendrerit id non nulla. Vivamus euismod nisl nec rhoncus viverra. Phasellus convallis posuere erat vitae vehicula. Duis pretium, tellus sed aliquet laoreet, augue erat mattis leo, non convallis magna tortor sodales ipsum. Mauris eget orci nisi.
    </div>
</div>
<h2>Nous contacter</h2>
<div class="row">
    <div class="col-12">
        <p>Prendre contact avec l'agence</p>
    </div>
    <div class="col-6 col-offset-3">
        Sed sem diam, pellentesque in consectetur at, hendrerit ac orci. Etiam non diam vitae magna commodo rhoncus. Mauris in tortor at nibh posuere hendrerit id non nulla. Vivamus euismod nisl nec rhoncus viverra. Phasellus convallis posuere erat vitae vehicula. Duis pretium, tellus sed aliquet laoreet, augue erat mattis leo, non convallis magna tortor sodales ipsum. Mauris eget orci nisi.
    </div>
</div>
{% endblock %}
