{% extends '../layouts/base.html' %}

{% block content %}
<div class="bloc">
    <h2>Nos formules</h2>
    <div class="row center-xs">
        <div class="col-6 col-xs-12 col-sm-6">
            <div class="card">
                <p>Formule n°1</p>
                <ul class="text-center">
                    <li>Lol</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bloc">
    <h2>Nous contacter</h2>
    <p>Prendre contact avec l'agence</p>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>
{% endblock %}
