nav {
  position: absolute;
  bottom: 0;
  font-family: 'Heebo', sans-serif;
  line-height: 1;
  background: #58c9b9;
  width: 100%;
  .toggleNav {
    color: darken(#58c9b9, 40%);
    text-transform: uppercase;
    padding: .75rem 0;
    display: none;
    text-decoration: none;
  }
  ul {
    @include flex(no-wrap, row);
    align-items: center;
    li {
      text-transform: uppercase;
      a {
        color: darken(#58c9b9, 40%);
        display: block;
        padding: .75rem 1rem;
        text-decoration: none;
        @include animation(.2s);
        &:hover {
          background: transparent;
          color: #fffff9;
        }
      }
    }
  }
}
