@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

@import "reset";

@import "function";

@import "grid";

p {margin:5px auto;}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #d9e1e8;
  line-height: 1.25;
  color: #454552;
}

@import "typo";

header {
  background: #4183c4 url("img/header_background.jpeg") no-repeat center center;
  text-align: center;
  position: relative;
  height: 250px;
  .jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffff9;
  }
}

.app {
  padding: 30px 0;
}

.bloc {
  background: #fffff9;
  padding: 1rem;
  margin-bottom: 20px;
  @include radius(5px);
  border: 1px solid #D9D4CF;
  @include animation(.2s);
  &:hover {
    border-color: #8c9184;
    @include box-shadow(0, 5px, 5px, #a7a7a2);
  }
}

@import 'nav';

.card {
  padding: 1rem;
}
